
.contact
{
width:1250px;
height:540px;
background-color:#D1C6B2;
border:none;
margin-top:30px;
margin-left:50px;

}
.contact2
{
width:550px;
height:500px;
background-color:#D1C6B2;
border:none;
float:right;

margin-bottom:20px;
margin-right:20px;
font-size:38px;
}
.a
{width:190px;
height:40px;
font-size:20px;
margin-left:30px;
margin-top:-40px;
background-color:#E4D8C2;}
.b
{
margin-top:20px;
font-size:20px;
margin-left:30px;
width:190px;
height:40px;
font-size:20px;
background-color:#E4D8C2;
}
.c
{
margin-top:20px;
font-size:20px;
margin-left:30px;
width:280px;
height:100px;
font-size:20px;
background-color:#E4D8C2;
}
.d
{
margin-top:30px;
font-size:20px;
margin-left:30px;
width:200px;
height:45px;
font-size:25px;
background-color:#E4D8C2;
}

.contact1
{
width:600px;
height:500px;
background-color:none;
border:none;
float:left;
}
.bottom
{
height:70px;
background-color:#D1C6B2;
border:none;
width:1354px;
margin-top:28px;
margin-left:-10px;
font-weight:bold;
}
