.events
{
height:1000px;
width:1300px;
background-color:#E3D7C2;
border:9px solid  #D1C6B2;
margin-top:30px;
margin-left:10px;

}
.events1
{

height:980px;
width:1250px;
background-color:#E3D7C2;
border:none;
margin-left:10px;
}

.events1a
{

height:400px;
width:400px;
background-color:#E3D7C2;
border:none;
margin-left:20px;
margin-top:30px;
float:left;
}

.events1b
{

height:300px;
width:750px;
background-color:#E3D7C2;
border:none;
margin-left:20px;
margin-top:80px;
float:right;
margin-right:20px;
}
.events2
{

height:400px;
width:1250px;
background-color:#E3D7C2;
border:none;
margin-left:30px;
margin-top:-500px;
}

.events2a
{

height:400px;
width:400px;
background-color:#E3D7C2;
border:none;
margin-top:20px;
float:left;
}

.events2b
{
margin-top:65px;
height:300px;
width:770px;
background-color:#E3D7C2;
border:none;

float:right;
margin-right:20px;
}


.bottom
{
height:70px;
background-color:#D1C6B2;
border:none;

width:1354px;
margin-top:28px;
margin-left:-10px;
font-weight:bold;
}
