.specails
{
height:515px;
width:1300px;
background-color:#E3D7C2;
border:9px solid  #D1C6B2;
margin-top:30px;
margin-left:10px;

}

.div
{
width:1100px;
height:500;

background-color: none;
margin-top:-40px;
margin-left:130px;

}
.div1
{
width:340px;
height:370px;
background-color:none;
border:0px solid red;
margin-left:10px;
margin-top:10px;
float:left;

}
.div1a
{
height:280px;
width:310px;
border:7PX solid #D1C6B2;
margin-top:10px;
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
background:#D1C6B2;
color:#E3D7C3;

}

.div1b
{
height:50px;
width:310px;
border:5PX solid #E3D7C3;
margin-top:10px;
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
background:#D1C6B2;

}






.bottom
{
height:70px;
background-color:#D1C6B2;

width:1354px;
margin-top:28px;
margin-left:-10px;
font-weight:bold;