.maindiv
{

background-image:url(../images/1.PNG);

height:673px;
width:1350px;
border-radius:30px;
margin-top:-30px;
}
.leftdiv
{
position:absolute;
height:350px;
width:300px;
background-color:none;
border:none;
margin-left:50px;
margin-top:180px;
float:left;
}
.leftdiv1
{
width:240px;                                                   
height:45px;
border:none;
margin-top:50px;
background-color:#FFFFFF;
padding:10px;
border-radius:10px;
margin-left:0px;
margin-top:30px;
font-family:Vladimir Script; 
font-size:29px;
}
.rightdiv
{
width:700px;
height:500px;
color:#FFFFFF;
float:right;
margin-top:210px;
font-size:30px;


}